@import url("reset.css");

body {
  font-family: 'Dancing Script', cursive;

  /* Typography */
  font-size: 20px;
  line-height: 34px;
  color: #777;
  background-color: #f1f1f1

  /* Visual */
  /* background: url("../images/concrete_seamless.png"); */
}

* {
  /* Box-model */
  box-sizing: border-box;

  /* Positioning */
  margin: 0;
}

html,
body {
  height: 100%;
  
}

/* general */

.wrapper {
  height: auto !important;
  height: 100%;

  /* Box-model */
  min-height: 100%;

  /* Positioning */
  margin: 0 auto -100px;
}

.container {
  /* Box-model */
  width: 100%;
  max-width: 960px;

  /* Positioning */
  margin: 0 auto;
  clear: both;
 
}

h1,
h2,
h3,
p {
  margin-bottom: 20px;
}

p:last-child {
  margin-bottom: 0;
}

h1,
h2,
h3 {
  /* Typography */
  font-family: 'Black Ops One', cursive;
  font-weight: 700;
  color: #4aaaa5;
}

h1 {
  /* Box-model */
  padding-bottom: 20px;

  /* Typography */
  font-size: 30px;
  line-height: 49px;

  /* Visual */
  border-bottom: 3px solid #ddd;
}

h2,
h3 {
  font-size: 22px;
}

/* header */

#masthead {
  position: fixed;
  z-index: 99;

  /* Box-model */
  width: 100%;

  /* Positioning */
  margin: 0 0 30px;
  overflow: auto;

  /* Typography */
  color: #2c7873;
  background: transparent;

  /* Visual */
  border-bottom: 2px solid #ccc;
}

#logo {
  float: left;

  /* Box-model */
  width: 250px;
  height: 90px;

  /* Typography */
  font-family: 'Courgette', cursive;
  font-size: 30px;
  font-weight: 700;
  line-height: 90px;
  color: #92a5de;
  text-align: center;
  text-decoration: none;

  /* Visual */
  /* background: #6Fb98F; */
  text-shadow:
  0px 0px 0 rgb(137,156,213),1px 1px 0 rgb(129,148,205),2px 2px 0 rgb(120,139,196),3px 3px 0 rgb(111,130,187),4px 4px 0 rgb(103,122,179),5px 5px 0 rgb(94,113,170),6px 6px 0 rgb(85,104,161),7px 7px 0 rgb(76,95,152),8px 8px 0 rgb(68,87,144),9px 9px 0 rgb(59,78,135),10px 10px 0 rgb(50,69,126),11px 11px 0 rgb(42,61,118),12px 12px 0 rgb(33,52,109),13px 13px 0 rgb(24,43,100),14px 14px 0 rgb(15,34,91),15px 15px 0 rgb(7,26,83),16px 16px 0 rgb(-2,17,74),17px 17px 0 rgb(-11,8,65),18px 18px 0 rgb(-19,0,57),19px 19px 0 rgb(-28,-9,48), 20px 20px 0 rgb(-37,-18,39),21px 21px 20px rgba(0,0,0,1),21px 21px 1px rgba(0,0,0,0.5),0px 0px 20px rgba(0,0,0,.2);
}
figure {
  /* widows: 100%; */
  margin: 0;
  padding: 0px 0 0 0;
  /* position: absolute; */
  left: 0;
  bottom: 0px;
  overflow: hidden;
  background: url("../images/background.png");
  animation: background_anim 100s linear infinite;
}
@keyframes background_anim{
  0%{background-position:0 0px; }
  100%{background-position: 0 650px;}
}

nav {
  /* Box-model */
  float: right;

  /* Positioning */
  margin-top: 25px;
}

nav li {
  display: inline-block;

  /* Box-model */
  padding-left: 15px;

  /* Positioning */
  margin-left: 15px;

  /* Typography */
  line-height: 18px;

  /* Visual */
  border-left: 1px solid #efefef;
}

nav a {
  /* Typography */
  color: mintcream;
  text-decoration: none;
  text-shadow: 1px 1px 5px #021C1E, 2px 1px 25px #004445 , 2px 1px 25px #6Fb98F;
}

nav a:hover {
  color: rgba(12, 97, 31, 0.87);
}

nav li:first-child {
  /* Box-model */
  padding-left: 0;

  /* Positioning */
  margin-left: 0;

  /* Visual */
  border-left: 0 none;
}

/* footer */

footer,
.push {
  height: 30px;
}

footer {
  /* Box-model */
  padding: 10px ;

  /* Positioning */
  clear: both;
  font-size: 16px;

  /* Typography */
 
  text-align: center;

  /* Visual */
  
}

/* sidebar */

.sidebar {
  float: right;
  width: 100%;
  max-width: 270px;

  /* Box-model */
  padding: 30px;

  /* Positioning */
  margin-bottom: 20px;
  background: #fff;

  /* Visual */
  border: 1px solid #ddd;
}

h3,
.sidebar h2 {
  /* Box-model */
  padding-bottom: 20px;

  /* Positioning */
  margin-bottom: 15px;

  /* Typography */
  line-height: 22px;

  /* Visual */
  border-bottom: 2px solid #eee;
}

.sidebar li {
  /* Box-model */
  float: left;
  width: 62px;
  height: 62px;

  /* Positioning */
  margin-top: 8px;
  margin-right: 10px;
}

.sidebar img {
  max-width: 100%;
}

.sidebar li:last-child {
  margin-right: 0;
}

/* main */

main {
  padding-top: 130px;
}

.main-section {
  float: left;
  width: 100%;
  max-width: 650px;

  /* Box-model */
  padding: 30px;

  /* Positioning */
  margin: 0 0 40px;
  background: #fff;

  /* Visual */
  border: 1px solid #ddd;
}

/* portfolio page */

.work {
  /* Positioning */
  position: relative;
  float: left;

  /* Box-model */
  width: 274px;
  margin: 20px 0 25px;
  overflow: auto;
}

.work:nth-child(even) {
  margin-right: 40px;
}

.work img {
  /* Box-model */
  width: 100%;
  height: 200px;

  /* Visual */
  border: 0 none;

  /* Misc */
  opacity: 0.8;
}

.work h3 {
  /* Positioning */
  position: absolute;
  bottom: 20px;
  width: 100%;

  /* Box-model */
  padding: 15px;
  margin-bottom: 0;
  font-weight: 300;
  line-height: 30px;

  /* Typography */

  color: #fff;
  text-align: center;
  background: #4aaaa5;

  /* Visual */
  border-bottom: 0;
}
/* 
.auth-image {
  float: left;

  /* Box-model */
  /* width: 200px;
  height: auto;
  margin-top: 10px;

  /* Positioning */
  /* margin-right: 25px;
}  */

/* contact page */

#contact-form ul {
  margin-bottom: 20px;
}

#contact-form li {
  margin-bottom: 10px;
}

label,
input[type=text],
input[type=email],
textarea {
  /* Box-model */
  display: block;
  width: 100%;
}

input[type=text],
input[type=email],
textarea {
  /* Box-model */
  height: 35px;
  padding: 0 10px;

  /* Typography */
  font-size: 14px;

  /* Visual */
  border: 1px solid #ddd;
}

textarea {
  height: 200px;
}

input[type=submit] {
  /* Box-model */
  padding: 10px 30px;
  font-size: 18px;

  /* Typography */
  color: #fff;

  /* Misc */
  cursor: pointer;
  background: #4aaaa5;

  /* Visual */
  border: 0 none;

}
.flash {
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: inherit;
}
.rollIn {
  animation-delay: 2s;
  animation-timing-function: ease-in;
  
}
.zoomInRight {
  animation-delay: 3s;
  float: left;

  /* Box-model */
  width: 200px;
  height: auto;
  margin-top: 10px;

  /* Positioning */
  margin-right: 25px;

}
.flip {
  animation-timing-function: ease;
  animation-direction: alternate;
  animation-duration: 6s;
  animation-delay: 2s;
}


@media only screen and (max-width:980px) {
  nav {
    margin-right: 5px;
  }
}


@media only screen and (max-width: 768px) {
  .main-section,
  .sidebar {
    max-width: 100%;
  }

  main {
    overflow: auto;
  }

  .work {
    /* Box-model */
    width: 47%;

    /* Positioning */
    margin-bottom: 10px;
  }

  .work:nth-child(even) {
    margin-right: 0;
  }

  .work:nth-child(odd) {
    float: right;
  }

  .auth-image {
    width: 50%;
  }

  .sidebar {
    margin-bottom: 40px;
  }
}

@media only screen and (max-width: 640px){
  #masthead {
    /* Positioning */
    position: static;
    margin-bottom: 20px;
  }

  header .container {
    padding: 0;
  }

  main.container {
    padding-top: 0;
  }

  #logo,
  .work,
  .auth-image {
    width: 100%;
  }

  nav {
    /* Box-model */
    width: 100%;

    /* Positioning */
    margin: 15px 0;

    /* Typography */
    text-align: center;
  }

  nav a {
    /* Box-model */
    width: 30%;
    padding-left: 0;

    /* Positioning */
    margin-left: 0;
  }
}



